{% extends "base.html" %}

{% block title %}AiLab Web Ide{% endblock %}

{% block styles %}
<!-- CodeMirror Основной стиль -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
<!-- Тема Dracula (или выбери другую) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/dracula.min.css">
<!-- Стили для автодополнения -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/show-hint.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/ide.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="tabs">
        </div>

        <!-- Заменили div.editor на div с id для CodeMirror -->
        <div class="code-area" data-tab-content="tab1"></div>

        <div class="toolbar">
            <div class="toolbar-left">
                <button class="button run-button" onclick="executeCode()"><i><img class="button-icons" src="{{ url_for('static', filename='img/play443.svg') }}"></i></button>
                <button class="button save-button" onclick="saveCodeToFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/save.svg') }}"></i></button>
                <button class="button open-button" onclick="loadFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/load.svg') }}"></i></button>
            </div>

            <button align="center" class="opt-ver-menu-triger">Выберите версию</button>

            <div class="toolbar-right">
                <button class="button download-button" onclick="saveConsoleToFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/save-console-as-text.svg') }}"></i></button>
                <button class="button text-button" onclick="copyToClipboard()"><i><img class="button-icons" src="{{ url_for('static', filename='img/play.svg') }}"></i></button>
                <button class="button delete-button" onclick="clearConsole()"><i><img class="button-icons" src="{{ url_for('static', filename='img/del-console.svg') }}"></i></button>
            </div>
        </div>

        <div class="console">
            <div class="console-label">Консоль</div>
            <textarea class="console-output" readonly></textarea>
            <textarea class="console-input" id="consoleInput" placeholder="" readonly></textarea>
        </div>
    </div>

    <div class="opt-ver-menu" hidden>
        <div class="pos-opt-ver">
            <button class="opt-ver-menu-triger-reverse"><img src="img/cross.png"></button>
            <div class="lang-ver-menu">
                <div class="lang-ver-menu-item">
                    
                    <div class="settings-container">
                        <div>
                            <div class="names-settings">
                                <div class="languages-container">
                                    <select class="languages">
                                        <option value="python" >Python</option>
                                    </select>
                                </div>
                                <div class="version-container">
                                    <select class="version-download">
                                            <option value="3.6">3.6</option>
                                            <option value="3.9">3.9</option>
                                            <option value="3.12">3.12</option>
                                        </h3>
                                    </select>
                                </div>
                                
                            </div>

                            <div class="settings-options">
                                <h3>Библиотеки</h3>
                                
 
                            </div>
                        </div>
                        <div class="settings-sets">
                            <div class="title-sets">Наборы
                                <button class="add-set" onclick="addSet()">+</button ><button class="remove-set" onclick="deleteSelectedSet()">-</button>
                            </div>
                            <div class="sets" id="sets-list">
                                
                                    <div class="set active" onclick="selectSet(this)" id="1" ondblclick="editSetName(this)"><span>set1</span></div>
                                    
                            </div>
                            
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- Основной CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>

<!-- Дополнения для CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/closebrackets.min.js"></script> <!-- Автозакрытие скобок -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/show-hint.min.js"></script> <!-- Автодополнение -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/anyword-hint.min.js"></script> <!-- Слова из текста -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/comment/comment.min.js"></script> <!-- Комментирование Ctrl+/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/matchbrackets.min.js"></script> <!-- Подсветка скобок -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/closebrackets.min.js"></script> <!-- Закрытие скобок -->

<!-- Подключаем Socket.IO -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

