{% extends "base.html" %}

{% block title %}AiLab Web Ide{% endblock %}

{% block styles %}
<!-- CodeMirror Основной стиль -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
<!-- Тема Dracula -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/dracula.min.css">
<!-- Стили для автодополнения -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/show-hint.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/ide.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="tabs">
            <div class="tab active" data-tab="tab1"><span>main.py</span><span class="close-tab">×</span></div>
        </div>

        <!-- Область для редактора кода -->
        <div class="code-area" data-tab-content="tab1"></div>

        <div class="toolbar">
            <div class="toolbar-left">
                <!-- Выбор языка -->
                <select id="language-select">
                    <option value="python">Python</option>
                    <option value="cpp">C++</option>
                </select>
                <!-- Выбор версии -->
                <select id="version-select"></select>
                <!-- Выбор виртуального окружения -->
                <select id="venv-select">
                    <option value="">Без venv</option>
                    <option value="venv">venv</option>
                </select>
                <!-- Поле для ввода библиотек -->
                <input id="libraries-input" type="text" placeholder="Библиотеки (через пробел)">
                <!-- Кнопки управления -->
                <button class="button run-button" onclick="executeCode()"><i><img class="button-icons" src="{{ url_for('static', filename='img/play443.svg') }}"></i></button>
                <button class="button save-button" onclick="saveCodeToFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/save.svg') }}"></i></button>
                <button class="button open-button" onclick="loadFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/load.svg') }}"></i></button>
            </div>
            <div class="toolbar-right">
                <button class="button download-button" onclick="saveConsoleToFile()"><i><img class="button-icons" src="{{ url_for('static', filename='img/save-console-as-text.svg') }}"></i></button>
                <button class="button text-button" onclick="copyToClipboard()"><i><img class="button-icons" src="{{ url_for('static', filename='img/play.svg') }}"></i></button>
                <button class="button delete-button" onclick="clearConsole()"><i><img class="button-icons" src="{{ url_for('static', filename='img/del-console.svg') }}"></i></button>
            </div>
        </div>

        <div class="console">
            <div class="console-label">Консоль</div>
            <textarea class="console-output" readonly></textarea>
            <textarea class="console-input" id="consoleInput" placeholder="" readonly></textarea>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- Основной CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/clike/clike.min.js"></script>

<!-- Дополнения для CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/closebrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/show-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/hint/anyword-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/comment/comment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/addon/edit/matchbrackets.min.js"></script>

<!-- Подключаем Socket.IO -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
