<div class="chat-container">
    <div class="chat-header" data-ai-chat-id="{{ chat.id }}">
        <button class="back-button">←</button>
        <div class="contact-info">
            <p class="contact-name">{{ chat.name }}</p>
        </div>
        <button class="back-button" id="clear-history">delete</button>
    </div>

    <div class="messages-container" id="messages-container">
        {% for message in messages %}
        <div class="message context-area {% if message.sender_id == current_user.id %}message-sent{% else %}message-received{% endif %}"
            data-id="{{ message.id }}">

            {% if message.attachments %}
            <div class="attachments">
                {% for att in message.attachments %}
                {% if att.url.rsplit('/',1)[-1] | file_exists %}
                {% if att.mime_type.startswith('image') %}
                <img data-enlargeable src="{{ att.url }}" alt="image attachment" class="message-image context-area"
                    loading="lazy" style="z-index: 2000;">
                {% elif att.mime_type.startswith('video') %}
                <video controls class="message-video context-area" preload="metadata">
                    <source src="{{ att.url }}" type="{{ att.mime_type }}">
                    Ваш браузер не поддерживает видео.
                </video>
                {% else %}
                <span href="{{ att.url }}" class="message-doc context-area">
                    <span class="doc-icon">📄</span>
                    {{ att.url.rsplit('/',1)[-1] }}
                </span>
                {% endif %}
                {% else %}
                <!-- Пропускаем несуществующие файлы -->
                <div class="attachment-missing">Файл {{ att.url.rsplit('/',1)[-1] }} не найден</div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if message.text %}
            <div class="message-text context-area" data-id="{{ message.id }}">
                {{ message.text|safe }}
            </div>
            {% endif %}

            {% if not message.text and not message.attachments %}
            <div class="message-text empty-message">[Пустое сообщение]</div>
            {% endif %}

            <div class="message-second-data context-area" data-id="{{ message.id }}">
                <div class="message-time" data-timestamp="{{ message.timestamp.isoformat() }}"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="input-container">
        <label for="file-input" class="file-upload-button">
            <i class="input-img"><img class="input-img" src="{{ url_for('static', filename='img/attach.svg') }}"></i>
        </label>
        <input type="file" id="file-input" class="hidden" multiple accept="image/*,video/*,.pdf,.doc,.docx,.js,.html,.py,.cpp">
        <textarea class="chat-input" placeholder="Напишите сообщение..." id="message-input" rows="1"></textarea>
        <button class="send-button"><img src="{{ url_for('static', filename='img/icons/send.svg') }}"
                alt="sun"></button>
    </div>

</div>
