<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block styles %}
    {% endblock %}

    
</head>

<body>
    <div class="header">
        <div class="logo-block">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-style">
            <div class="header-title">AiLab WEB</div>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('main_bp.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('main_bp.logout') }}">Logout</a>
            {% endif %}
        </div>

        <div class="night-mode">🌙</div>
    </div>

    {% block content %}
    {% endblock %}
    
    <div class="footer">
    </div>

    {% block scripts %}
    {% endblock %}

    
</body>

</html>