<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messenger.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>

    

    {% block styles %}
    {% endblock %}

    
</head>

<body>
    <div class="header">
        {% if current_endpoint != 'main_bp.ide' %}
        <div class="ide-link"><a href="{{ url_for('main_bp.ide') }}"><img src="{{ url_for('static', filename='img/icons/ide.svg') }}" alt="IDE"></a></div>
        {% endif %}
        <div class="center-pos">
            <div class="logo-block">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-style">
                <div class="header-title">AiLab WEB</div>
            </div>
            {% if current_endpoint != 'main_bp.profile' %}
            <a href="{{ url_for('main_bp.profile', id=current_user.id) }}" class="profile-icon">
                <img src="{{ url_for('static', filename='uploads/' + current_user.profile.profile_photo) }}" alt="Профиль">
            </a>    
            {% endif %}
            {% if current_endpoint == 'main_bp.profile' and (id is not defined or id != current_user.id) %}
            <a href="{{ url_for('main_bp.profile', id=current_user.id) }}" class="profile-icon">
                <img src="{{ url_for('static', filename='uploads/' + current_user.profile.profile_photo) }}" alt="Профиль">
            </a>
            {% endif %}
        </div>
        
        <div class="messenger-icon">
            <span class="badge hidden" id="unread-count">0</span>
            <img src="{{ url_for('static', filename='img/icons/mess.svg') }}" alt="messanger">
        </div>

        <div class="night-mode"><img src="{{ url_for('static', filename='img/icons/sun.svg') }}" alt="sun"></div>
    </div>

    {% block content %}
    {% endblock %}

        <div class="messenger-container" id="messenger-container">
            <div class="messenger-header" id="messenger-header">
                <div class="search-container">
                    <input type="text" id="contact-search" placeholder="Поиск контактов..." class="search-input">
                    <button id="close-messenger" class="close-button">×</button>
                </div>
            </div>
            <div class="messenger-content" id="messenger-content"></div>
        </div>
    
    
    <script>
        function playNotificationSound() {
            const isChatOpen = document.getElementById('messenger-container').classList.contains('open');
            const isWindowFocused = document.hasFocus();
            
            if (!isChatOpen && !isWindowFocused) {
                const audio = new Audio("{{ url_for('static', filename='sounds/glam.mp3') }}");
                audio.volume = 0.3;
                audio.play().catch(e => console.log('Не удалось воспроизвести звук:', e));
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/messenger.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    <!-- В base.html перед закрывающим </body> -->
    
</body>

</html>