<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block styles %}
    {% endblock %}

    
</head>

<body>
    <div class="header">
        {% if current_endpoint != 'main_bp.ide' %}
        <div class="ide-link"><a href="{{ url_for('main_bp.ide') }}">💻</a></div>
        {% endif %}

        <div class="logo-block">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-style">
            <div class="header-title">AiLab WEB</div>
        </div>
        {% if current_endpoint != 'main_bp.profile' %}
        <a href="{{ url_for('main_bp.profile', id=current_user.id) }}" class="profile-icon">
            <img src="{{ url_for('static', filename='img/test.png') }}" alt="Профиль">
        </a>    
        {% endif %}
        

        <div class="night-mode">🌙</div>
    </div>

    {% block content %}
    {% endblock %}
<!--     
    <div class="footer">
    </div> -->

    {% block scripts %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    
</body>

</html>