<div class="chat-container">
    <div class="chat-header" data-user-id="{{ friend.id }}">
        <button class="back-button">←</button>
        <img src="{{ url_for('static', filename='uploads/' + friend.profile.profile_photo) }}" class="contact-avatar">
        <div class="contact-info">
            <p class="contact-name">{{ friend.profile.full_name }}</p>
            <p class="contact-status">
                <span
                    class="status-indicator {% if friend.is_online() %}status-online{% else %}status-offline{% endif %}"
                    data-user-id="{{ friend.id }}"></span>
                {% if friend.is_online() %}В сети{% else %}Не в сети{% endif %}
            </p>
        </div>
        <button class="back-button" id="clear-history">delete</button>
    </div>

    <div class="messages-container" id="messages-container">
        {% for message in messages %}
        <div class="message context-area {% if message.sender_id == current_user.id %}message-sent{% else %}message-received{% endif %}" data-id="{{ message.id }}" data-context-type="message">
            
            {% if message.attachments %}
            <div class="attachments">
                {% for att in message.attachments %}
                    {% if att.mime_type.startswith('image') %}
                        <img data-enlargeable
                            src="{{ att.url }}"
                            alt="image attachment"
                            class="message-image context-area"
                            loading="lazy"
                            style="z-index: 2000;"
                            data-context-type="media"
                        >
                    {% elif att.mime_type.startswith('video') %}
                        <video
                            controls
                            class="message-video context-area"
                            preload="metadata"
                            data-context-type="media"
                        >
                            <source src="{{ att.url }}" type="{{ att.mime_type }}">
                            Ваш браузер не поддерживает видео.
                        </video>
                    {% else %}
                        <a
                            href="{{ att.url }}"
                            download
                            class="message-doc"
                        >
                            <span class="doc-icon">📄</span>
                            {{ att.url.rsplit('/',1)[-1] }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if message.text %}
            <div class="message-text context-area" data-id="{{ message.id }}" data-context-type="message">
                {{ message.text|safe }}
            </div>
            {% endif %}

            {% if not message.text and not message.attachments %}
            <div class="message-text empty-message">[Пустое сообщение]</div>
            {% endif %}

            <div class="message-second-data context-area" data-id="{{ message.id }}" data-context-type="message">
                <div class="message-time" data-timestamp="{{ message.timestamp.isoformat() }}"></div>
                {% if message.sender_id == current_user.id %}
                <span class="message-status">
                    {% if message.is_read %}
                        <span class="double-check">✓✓</span>
                    {% else %}
                        <span class="single-check">✓</span>
                    {% endif %}
                </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="input-container">
        <input type="file" id="file-input" multiple accept="image/*,video/*,.pdf,.doc,.docx,.js,.html,.py,.cpp">
        <textarea class="chat-input" placeholder="Напишите сообщение..." id="message-input" rows="1"></textarea>
        <button class="send-button"><img src="{{ url_for('static', filename='img/icons/send.svg') }}" alt="sun"></button>
    </div>
  
</div>